/*Delete hours set by calendar lib*/
.rbc-event-label {
  display: none !important;
}

/*Style for 1 slot = 15min*/
.rbc-time-slot {
  height: 1.666666px;
  border: none !important;
}


/* Height od hour slot */
.rbc-timeslot-group {
  min-height: 20px;
  position: relative;
  border: none;
}

/*Set border only around 4 slots = 1 hour*/
.rbc-timeslot-group:nth-child(4n + 1)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(20px * 4);
  border-bottom: 1px solid #ccc;
  pointer-events: none;
  box-sizing: border-box;
}

/*Set only full hours on view*/
.rbc-timeslot-group:not(:nth-child(4n + 1)) .rbc-label {
  display: none;
}

/*Set reservation style*/
.rbc-day-slot .rbc-event {
  /* background-color: lightblue; */
  color: rgb(49, 60, 63);
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}

/*Set selected reservation style*/
.rbc-event, .rbc-event.rbc-selected {
  background-color: lightblue;
  border: 1px solid black;
  color: black;
}

/*Upper header - 29 mon, 30 tue*/
.rbc-row{
  height: 2rem;
  align-items: center;
}

/*Section i upper header*/
.rbc-header{
  border: none;
}

/*Useless place bottom upper header*/
.rbc-allday-cell {
  display: none !important;
}

.pending-event{
  background-color: rgb(203, 245, 14)!important;
  cursor: default;
  &:focus{
    outline: none;
  }
}

.to-be-confirmed-event{
  background: repeating-linear-gradient(
    45deg,
    lightblue,
    lightblue 10px,
    white 10px,
    white 20px
  )!important;
}
.client-arrived-event{
  background-color: lightgreen !important;
}
.client-did-not-arrive-event{
  background-color: rgb(255, 109, 109)!important;
}

.vacation-event {
  background: repeating-linear-gradient(
    45deg,
    #fee2e2,
    #fee2e2 10px,
    #fecaca 10px,
    #fecaca 20px
  );
}

.vacation-event .rbc-event-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  white-space: normal;
  text-align: center;
}

